@use '/src/index.scss';

.sublink{
  color: index.$MU-beige-100;
  font-family: index.$MU-primary-font;
  font-weight: lighter;
  text-decoration: none;
  cursor: pointer;
}

.sublink-beige{
  color: index.$MU-beige-100;
}

.sublink-pink{
  color: index.$MU-pink-100;
}

.sublink-dark{
  color: index.$MU-dark-200;
}

