@use '/src/index.scss';

.body-title{
  font-family: index.$MU-primary-font;
  font-weight: 500;
  color: index.$MU-dark-200;
  text-transform: uppercase;
}

.accent-font{
  font-family: index.$MU-accent-font;
  text-transform: uppercase;
};

.body-title-h1 {
  font-size: index.$h1-primary-font-size;
  .accent-font{
    font-size: index.$h1-accent-font-size;
  }
};

.body-title-h2 {
  font-size: index.$h2-primary-font-size;
  .accent-font{
    font-size: index.$h2-accent-font-size;
  }
};

.body-title-h3 {
  font-size: index.$h3-primary-font-size;
  .accent-font{
    font-size: index.$h3-accent-font-size;
  }
};

.body-title-h4 {
  font-size: index.$h4-primary-font-size;
  .accent-font{
    font-size: index.$h4-accent-font-size;
  }
};

.body-title-h5 {
  font-size: index.$h5-primary-font-size;
  .accent-font{
    font-size: index.$h5-accent-font-size;
  }
};

.body-title-h6 {
  font-size: index.$h6-primary-font-size;
  .accent-font{
    font-size: index.$h6-accent-font-size;
  }
};

.body-title-h7 {
  font-size: index.$h7-primary-font-size;
  .accent-font{
    font-size: index.$h7-accent-font-size;
  }
};

