@use '/src/index.scss';

.ui-button {
  display: flex;
  flex-direction: row;
  padding: index.$d-padding-btn-100;
  border-radius: index.$btn-border-radius;
  background-color: index.$MU-dark-200;
  color: index.$MU-beige-100;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  cursor: pointer;
};

.btn-pink{
  background-color: index.$MU-pink-100;
  color: index.$MU-beige-100;
}

.btn-beige{
  background-color: index.$MU-beige-100;
  color: index.$MU-dark-200;
}
