@use '/src/index.scss';

.ui-button {
  display: flex;
  flex-direction: row;
  padding: index.$d-padding-btn-100 index.$d-padding-btn-200;
  border-radius: index.$btn-border-radius;
  background-color: index.$MU-dark-200;
  color: index.$MU-beige-100;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  cursor: pointer;
  gap: index.$d-gap-general-100;

  .ui-button-icon{
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: baseline;
  }
};

btn-bold, p {
  font-family: index.$MU-secondary-font;
  font-size: index.$d-font-size-btn-secondary;
}

.btn-pink{
  background-color: index.$MU-pink-100;
  color: index.$MU-beige-100;
}
.btn-green{
  background-color: index.$MU-green-100;
  color: index.$MU-beige-100;
}

.btn-beige{
  background-color: index.$MU-beige-100;
  color: index.$MU-dark-200;
}
