@use '/src/index.scss';

.btn-secondary {
  text-transform: uppercase;
  font-family: index.$MU-secondary-font;
  font-size: index.$d-font-size-btn-secondary;
  background: transparent;
  text-decoration: none;
  cursor: pointer;
}

.btn-navigation-dark {
  color: index.$MU-dark-200;
}
.btn-navigation-beige {
  color: index.$MU-beige-100;
}
.btn-navigation-pink{
  color: index.$MU-pink-100;
}