@use '/src/index.scss';

// Prepare general styles in this page

html {
  // background-color: index.$MU-beige-200;
}

*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

#root {
  position: relative;
  top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: calc(100svh - 80px);
}

body {
  // background-color: index.$MU-beige-200;
  overflow-x: hidden;
}

h2{
  font-family: index.$MU-primary-font;
  text-transform: uppercase;
  font-weight: 400;
  font-size: index.$h2-primary-font-size;
  line-height: index.$h2-primary-line-height;
}

.copy-hl{
  font-family: index.$MU-primary-font;
  font-size: index.$copy-hl-font-size;
  font-weight: 400;
  text-transform: uppercase;
}

.no-pointer-events{
  pointer-events: none;
}