// Fonts
@font-face {
  font-family: 'inter';
  src: url('/fonts/Inter/Inter_18pt-Medium.ttf') format("truetype");
  font-weight: 400;
  font-style: normal;
};

@font-face {
  font-family: 'inter';
  src: url('/fonts/Inter/Inter_18pt-Light.ttf') format("truetype");
  font-weight: 200;
  font-style: normal;
};

@font-face {
  font-family: 'inter';
  src: url('/fonts/Inter/Inter_18pt-ExtraLight.ttf') format("truetype");
  font-weight: 100;
  font-style: normal;
};

@font-face {
  font-family: 'inter';
  src: url('/fonts/Inter/Inter_18pt-SemiBold.ttf') format("truetype");
  font-weight: 500;
  font-style: normal;
};

@font-face {
  font-family: 'inter';
  src: url('/fonts/Inter/Inter_18pt-Bold.ttf') format("truetype");
  font-weight: 600;
  font-style: normal;
};

@font-face {
  font-family: 'kapakana';
  src: url('/fonts/Kapakana[wght].ttf');
};

@font-face {
  font-family: 'anton';
  src: url('/fonts/Anton/Anton-light.ttf');
};

$MU-primary-font: inter;
$MU-secondary-font:anton;
$MU-accent-font: kapakana;

// Colors
$MU-beige-100: #FEFDFC; 
$MU-beige-200: #F2EFE8; 
$MU-beige-300: #EDE8DE; 
$MU-beige-400: #DBD1BD;
$MU-dark-100: #2c353880;
$MU-dark-200: #2C3538;
$MU-green-100: #8d7f19;
$MU-pink-100: #ff0048;
$MU-dimmed-opacity: .5;

// Sizes
$h1-primary-font-size: 24px;
$h1-accent-font-size: 60px;
$h2-primary-font-size: 80px;
$h2-primary-line-height: 80px;
$h2-accent-font-size: 160px;
$h3-primary-font-size: 64px;
$h3-accent-font-size: 164px;
$h4-primary-font-size: 48px;
$h4-accent-font-size: 128px;
$h5-primary-font-size: 36px;
$h5-accent-font-size: 80px;
$h6-primary-font-size: 24px;
$h6-accent-font-size: 67px;
$h7-primary-font-size: 16px;
$h7-accent-font-size: 44px;

// mobile headers
$h2-m-primary-font-size: 40px;


//general texts

$copy-hl-font-size: 24px;
$copy-body-font-size: 16px;

$d-font-size-wine-title: 96px;
$d-font-size-price: 32px;
$d-font-size-wine-char: 20px;
$d-font-size-cart: 24px;
$d-font-size-body:16px;
$d-font-size-info: 20px;
$d-font-size-field: 16px;
$d-font-size-highlight-primary: 24px;
$d-font-size-highlight-accent: 67px;
$d-font-size-info-bold: 18px;
$d-font-size-nav-page: 32px;
$d-font-size-menu-links: 32px;
$d-font-size-sublinks: 16px;
$d-font-size-cursor: 12px;
$d-font-size-nav-sublinks: 20px;
$d-font-size-btn-primary: 16px;
$d-font-size-btn-secondary: 32px;

// general texts mobile
$copy-m-hl-font-size: 24px;
$copy-m-body-font-size: 16px;



// Spacings
$d-gap-general-025: .5rem;
$d-gap-general-050: 1rem;
$d-gap-general-100: 2rem;
$d-gap-general-200: 4rem;
$d-margin-general-100: 2rem;
$d-margin-general-200: 6rem;
$d-padding-general-050: 0.5rem;
$d-padding-general-100: 2rem;
$d-padding-general-200: 4rem;
$d-padding-btn-100: 0.5rem;
$d-padding-btn-200: 1rem;
$d-padding-underline-100: 0.25rem;
$d-padding-nav-000: 1rem;
$d-padding-nav-100: 2rem;
$d-padding-nav-200: 4rem;
$d-margin-top-nav-links: 4rem;
$d-gap-links-nav: 2rem;

// Details
$navbar-border-radius: 4rem;
$navbar-links-underline: 2px solid; 
$btn-border-radius: 0.45rem;
$d-home-about-border-radius: 25svw;

// Animation - transitions
$general-transition: 0.3s ease-in-out;

//! Remember to add the general styles in the App.scss file and not here