@use "/src/index.scss"; 

#products-page{
  #products-filter{
    background-color: index.$MU-green-100;
    height: 6svh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    .products-filter-container{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: index.$d-gap-general-100;
      div{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: index.$d-gap-general-100;
      }
    }
  }
  #products-container{
    display: grid;
    grid-template-columns: repeat(5,15svw);
    grid-template-rows: repeat(auto, 1fr);
    padding: index.$d-padding-general-100;
    justify-content: center;
    align-items: center;
    gap: index.$d-gap-general-100;
}
}