@use '/src/index.scss';

#home-about-us{
  position: relative;
  top: -40svh;
  display: flex;
  flex-direction: column;
  height: 55svh;
  overflow: show;
  .home-about-us-container{
    background-color: index.$MU-beige-200;
    min-height: 45svh;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    p{
      border-radius: 0;
      max-width: 60%;
      text-align: center;
    }
  }
  #home-about-us-illustration{
    position: absolute;
    bottom: 20%;
    left: 0;
    img{
      border-radius: 0;
    }
  }
}

#home-about-us :nth-child(1){
  border-top-right-radius: index.$d-home-about-border-radius;
}
#home-about-us :nth-child(2){
  border-bottom-left-radius: index.$d-home-about-border-radius;
  img{
    width: 110%;
  }
}