@use '/src/index.scss';

#home-about-us{
  position: relative;
  // top: -40svh;
  display: flex;
  flex-direction: column;
  height: 95svh;
  overflow: hidden;
  .home-about-us-container{
    background-color: index.$MU-beige-200;
    // min-height: 400px;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    p{
      border-radius: 0;
      max-width: 60%;
      text-align: center;
    }
  }
  #home-about-us-illustration{
    // max-height: 25svh;
    position: absolute;
    bottom: 50%;
    // top: 10px;
    left: 0;
    img{
      border-radius: 0;
      // max-height: 20svh ;
    }
  }
}

#home-about-us :nth-child(1){
  border-top-right-radius: index.$d-home-about-border-radius;
}
#home-about-us :nth-child(2){
  border-bottom-left-radius: index.$d-home-about-border-radius;
  img{
    width: 110%;
  }
}

@media (max-width:550px){
  #home-about-us{
    .home-about-us-container{
      p{
        font-size:index.$copy-m-body-font-size;
      }
    }
    #home-about-us-illustration{
      display: none;
    }
  }

  #home-about-us :nth-child(2){
    img{
      object-fit: cover;
      height:100%;
      width: 100%;
    }
  }
}

@media (max-width: 550px){
  #home-about-us{

    .home-about-us-container{

      p{
        max-width: 80%;
      }
    }
  }
}